@font-face {
  font-family: 'iconsFont';
  /* src:  url('iconsFont.eot?p2moae'); */
  src: url('iconsFont.ttf?p2moae') format('truetype');  
    /* url('fonts/iconsFont.eot?p2moae#iefix') format('embedded-opentype'), */
    /* url('fonts/iconsFont.woff?p2moae') format('woff'), */
    /* url('fonts/iconsFont.svg?p2moae#iconsFont') format('svg'); */
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconsFont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-instagram:before {
  content: "\e900";
}
._icon-whatsapp:before {
  content: "\e903";
}
._icon-telegram:before {
  content: "\e901";
}
._icon-viber:before {
  content: "\e902";
}
