// RESET

// SETTING
body{
    margin: 0;
    padding: 0;
 
    overflow: hidden;

    background-color: rgb(129, 129, 129);
}

*{
    box-sizing: border-box;
}
// ANIMATION


// HEADER
.header{
    
}

.first-navbar{
    width: 94%;
    height: 45px;
    
    margin: 10px auto 0px auto;
    padding: 0px 15px 0px 15px;
    
    display: flex; //flex
    justify-content: space-between;
    align-items: center;
    
    border-radius: 20px;
    background-color: rgb(199, 199, 199);
    
    transition: all 2s;
}

.first-navbar__logo{
    width: 13%;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.first-navbar__nav{
    width: 36%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-navbar__link-wrapper{
    width: fit-content;
    height: 29px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 11px;
    background-color: rgba(0, 0, 0, 0);
    
    transition: all 0.6s;
}

.first-navbar__link-wrapper:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.first-navbar__link{
    margin: 13px;
    font-size: 18px;
}

.first-navbar__button-wrapper{
    width: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-navbar__button{
    
}

//
.second-navbar{
    width: 250px;
    height: 110vh;
    
    display: none; //flex
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    padding: 50px 20px 0px 20px;
    
    position: relative;
    top: 0;
    left: 78%;
    
    background-color: aqua;
}

.second-navbar__logo{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0px 0px 30px 0px;
    
    font-size: 29px;
}

.second-navbar__nav{
    height: fit-content;
}

.second-navbar__link-wrapper{
    height: fit-content;
    width: fit-content;
    
    margin: 25px 0px 25px 0px;
    padding: 7px 10px;
    
    border-radius: 11px;
    background-color: rgba(0, 0, 0, 0);
    
    transition: all 0.6s;
}

.second-navbar__link-wrapper:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.second-navbar__link{
    font-size: 20px;
    
    margin: 20px 0px 0px 0px;
}

.second-navbar__button-wrapper{
    width: 100%;
    height: 10%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-navbar__button{
    width: 140px;
    height: 40px;
}

// MODIFICATOR
.--displayNone{
    display: none;
}

.--displayFlex{
    display: flex;
}

.--opacityZero{
    opacity: 0;
}