body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
  font-family: "Raleway";
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.first-navbar {
  width: 94%;
  height: 45px;
  padding: 0px 15px 0px 15px;
  margin: auto;
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.first-navbar__logo {
  width: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-navbar__nav {
  width: 36%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-navbar__link-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 29px;
  padding: 2px 9px 6px 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 11px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.first-navbar__link-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.first-navbar__link {
  margin: 13px;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

.first-navbar__button-wrapper {
  width: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-navbar__button {
  width: 90%;
  height: 25px;
  border: 0;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.first-navbar__button:hover {
  background-color: #919191;
}

.second-navbar {
  width: 250px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px 20px 0px 20px;
  position: fixed;
  top: 0;
  right: -250px;
  z-index: 10;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.second-navbar__logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 30px 0px;
  font-size: 29px;
  font-weight: 700;
}

.second-navbar__nav {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.second-navbar__link-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 25px 0px 25px 0px;
  padding: 2px 13px 6px 13px;
  border-radius: 11px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.second-navbar__link-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.second-navbar__link {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  margin: 20px 0px 0px 0px;
}

.second-navbar__button-wrapper {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-navbar__button {
  width: 140px;
  height: 40px;
  border: 0;
  border-radius: 18px;
  background-color: #000;
  color: #fff;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.second-navbar__button:hover {
  background-color: #919191;
}

.header__button-wrapper {
  width: 200px;
  height: 45px;
  position: fixed;
  top: 15px;
  right: 25px;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__memu-button {
  width: 200px;
  height: 45px;
  border: 0;
  border-radius: 18px;
  background-color: #919191;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.header__memu-button:hover {
  background-color: white;
}

.header__memu-button:active {
  width: 192px;
  height: 42px;
}

.first-screen {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.first-screen__left-side {
  max-width: 50%;
  position: absolute;
  left: -9%;
  top: -15%;
  z-index: -1;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.first-screen__induction {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.first-screen__content {
  width: 57%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.first-screen__content-wrapper {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-screen__avatar {
  max-width: 50%;
  max-height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10% 0px 0px 0px;
  border-radius: 50%;
}

.first-screen__text-wrapper {
  width: 50%;
  padding: 0px 20px 0px 0px;
  margin: 0px 0px 0px 30px;
}

.first-screen__title {
  width: 100%;
  height: 100%;
  margin: 0px 0px 40px 0px;
  text-align: center;
  font-size: calc(20px + 16 * (100vw / 2650));
  font-weight: 600;
  color: #fff;
}

.first-screen__text {
  width: 100%;
  text-align: center;
  font-size: calc(16px + 6 * (100vw / 2650));
  color: #fff;
}

.first-screen__button-wrapper {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-screen__portfolioBtn {
  width: 210px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 18px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background-color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.first-screen__costBtn {
  width: 210px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 18px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background-color: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.first-screen__portfolioBtn:hover, .first-screen__costBtn:hover {
  color: #000;
  background-color: #fff;
}

.--displayNone {
  display: none;
}

.--opacityZero {
  opacity: 0;
}

.--rightZero {
  right: 0;
}