// SETTING
body{
    width: 100vw;

    margin: 0;
    padding: 0;
 
    overflow-x: hidden;

    background-color: rgb(0, 0, 0);

    font-family: 'Raleway';
    font-size: 16px;
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

.pageWrapper{
    transition: all .3s;
}

// HEADER
// .header{
//     width: 100vw;
// }

.second-navbar{
    width: 250px;
    height: 100vh;
     
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    padding: 30px 20px 0px 20px;
    
    position: fixed;
    top: 0;
    right: -250px;
    z-index: 10;
    
    background-color: #fff;
    transition: all .2s;
}

.second-navbar__logo{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0px 0px 30px 0px;
    
    font-size: 29px;
    font-weight: 700;
}

.second-navbar__nav{
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.second-navbar__nav-button{
    width: fit-content;
    height: fit-content;

    padding: 4px 9px 4px 9px;

    background-color: #fff;

    font-size: 20px;
    font-weight: 600;
    color: #000;
    
    border: 0;
    border-radius: 12px;

    transition: all .6s;

    &:hover{
        background-color: rgb(230, 230, 230);
    }
}

.second-navbar__button-wrapper{
    width: 100%;
    height: 50px;
    
    margin: 30px 0px 0px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.second-navbar__button{
    width: 140px;
    height: 40px;

    border: 0;
    border-radius: 18px;
    background-color: #000;
    color: #fff;

    transition: all .3s;
}

.second-navbar__button:hover{
    background-color: rgb(145, 145, 145);
}

.second-navbar__button:active{
    width: 147px;
    height: 35px;
}

.header__button-wrapper{
    width: 165px;
    height: 45px;

    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 9;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .6s;
}

.header__memu-button{
    width: 150px;
    height: 45px;

    border: 0;
    border-radius: 18px;
    color: #000;

    background-color: rgb(145, 145, 145);
    transition: all .6s;
}

.header__memu-button:hover{
    background-color: rgb(255, 255, 255);
}

.header__memu-button:active{
    width: 162px;
    height: 42px;
}

// FIRST SCREEN
.first-screen{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: flex-end;

    position: relative;
}

.first-screen__left-side{
    max-width: 45%;
    
    position: absolute;
    left: -9%;
    top: -15%;
    z-index: -1;
    
    transform: rotate(-15deg);
}

.first-screen__induction{
    max-width: 100%;

    object-fit: cover;
}

.first-screen__right-side{
    width: fit-content;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.first-screen__content-wrapper{
    width: 100%;
    height: 70%;

    padding: 0px 16px 0px 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.first-screen__avatar{
    max-width: 50%;
    max-height: 50%;

    object-fit: cover;

    margin: 10% 0px 0px 0px;

    border-radius: 50%;
}

.first-screen__text-wrapper{
    width: 50%;

    padding: 0px 20px 0px 0px;
    margin: 0px 0px 0px 30px;
}

.first-screen__title{
    width: 100%;

    margin: 15px 0px 40px 0px;

    text-align: center;

    font-size: calc(20px + 16 * (100vw / 2650));
    font-weight: 600;
    color: #fff;
}

.first-screen__text{
    width: 100%;
    
    text-align: center;

    font-size: calc(16px + 6 * (100vw / 2650));
    color: #fff;
}

.first-screen__button-wrapper{
    width: 100%;
    height: 30%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first-screen__portfolioBtn{
    min-width: 280px;
    min-height: 60px;

    width: 20vw;
    height: 5vw;

    border: 2px solid #fff;
    border-radius: 18px;

    color: #fff;
    font-size: calc(16px + 6 * (100vw / 2650));
    font-weight: 600;

    background-color: #000;

    transition: all .3s;
}

.first-screen__costBtn{
    min-width: 280px;
    min-height: 60px;

    width: 20vw;
    height: 5vw;

    border: 2px solid #fff;
    border-radius: 18px;

    color: #fff;
    font-size: calc(16px + 6 * (100vw / 2650));
    font-weight: 600;

    background-color: #000;

    transition: all .5s;
}

.first-screen__portfolioBtn:hover, .first-screen__costBtn:hover{
    color: #000;
    background-color: #fff;
}

//PORTFOLIO SECTION
.portfolioSection{
    padding: 120px 0px 0px 0px;
    position: relative;
}

.portfolioSection__popup{
    width: 100vw;
    height: 110vh;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    background-color: rgba(0, 0, 0, 0.8);

    opacity: 0;
    visibility: hidden;

    overflow-y: auto;
    
    transition: all .5s;
    
    img{
        width: 100%;
    }
}

.portfolioSection__tittle{
    width: 100%;
    height: 100px;

    margin: 0px 0px 50px 0px;

    color: #fff;
    font-size: calc(30px + 30 * (100vw / 2650));
    font-weight: 900;
    line-height: 100px;

    text-align: center;
}

.portfolioSection__subtittle{
    width: 100%;

    margin: 0px 0px 50px 0px;

    color: #fff;
    font-size: calc(19px + 10 * (100vw / 2650));
    font-weight: 600;

    text-align: center;
}

.portfolioSection__row1920{
    width: 100%;

    display: flex;
    justify-content: space-around;

    margin: 0px 0px 60px 0px;

    img{
        max-height: 40vw;
        border-radius: 15px;
    }
}

.portfolioSection__row1350{
    width: 100%;

    display: flex;
    justify-content: space-around;

    margin: 0px 0px 60px 0px;

    img{
        max-height: 28.13vw;
        border-radius: 15px;
    }
}

.portfolioSection__row1080{
    width: 100%;

    display: flex;
    justify-content: space-around;

    margin: 0px 0px 60px 0px;

    img{
        max-height: 22.53vw;
        border-radius: 15px;
    }
}

.portfolioSection__button-wrapper{
    width: 100%;
    height: 70px;

    margin: 30px 0px 50px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolioSection__button{
    min-width: 280px;
    min-height: 60px;

    width: 40vw;
    height: 5vw;

    border: 2px solid #fff;
    border-radius: 18px;

    color: #fff;
    font-size: calc(16px + 6 * (100vw / 2650));
    font-weight: 600;

    background-color: #000;

    transition: all .3s;

    a{
        text-decoration: none;
    }
}

.portfolioSection__button:hover{
    color: #000;
    background-color: #fff;
}

// INFO SECTION
.infoSection{
    width: 100%;
    padding: 0px 16px 0px 16px;
}

.infoSection__tittle{
    width: 100%;
    height: 100px;

    margin: 0px 0px 50px 0px;
    padding: 10px 0px 0px 0px;

    color: #fff;
    font-size: calc(30px + 30 * (100vw / 2650));
    font-weight: 900;

    text-align: left;
}

.infoSection__text{
    width: 100%;

    margin: 0px 0px 30px 0px;
    padding: 0px 16px 0px 16px;

    color: rgb(190, 190, 190);
    font-size: calc(19px + 6 * (100vw / 2650));
    font-weight: 600;

    text-align: left;

    transition: all .2s;
}

.infoSection__text:hover{
    color: #fff;
}

.infoSection__text:active{
    color: #fff;
}

// FOOTER
.footer{
    width: 100%;
    height: 300px;

    padding: 0px 16px 0px 16px;
}

.footer__tittle{
    width: 100%;

    font-size: calc(30px + 30 * (100vw / 2650));
    font-weight: 900;
    text-align: center;

    color: #fff;
}

.footer__icon-wrapper{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer__link{
    width: calc(80px + 45 * (100vw / 2650));
    height: calc(80px + 45 * (100vw / 2650));

    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: #fff;
    text-align: center;
    font-size: calc(19px + 6 * (100vw / 2650));
    font-weight: 600;
}

.footer__icon{
    width: calc(40px + 40 * (100vw / 2650));
    height: calc(40px + 40 * (100vw / 2650));

    font-size: calc(40px + 40 * (100vw / 2650));
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .4s;
}

.footer__icon:hover{
    width: calc(60px + 40 * (100vw / 2650));
    height: calc(60px + 40 * (100vw / 2650));

    font-size: calc(60px + 40 * (100vw / 2650));
}

._icon-instagram:hover{
    color: rgb(255, 0, 85);
}

._icon-telegram:hover{
    color: rgb(0, 140, 255);
}

._icon-whatsapp:hover{
    color: rgb(0, 221, 18);
}

._icon-viber:hover{
    color: rgb(174, 0, 255);
}

// MEDIA
@media (max-width: 1188px){
    .first-screen__left-side{
        display: none;
    }

    .first-screen__right-side{
        width: 100%;
    }
}

@media (max-width: 1023px){
    .portfolioSection__row1920, .portfolioSection__row1350, .portfolioSection__row1080{
        width: 100%;
    
        margin: 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            max-width: 90%;
            max-height: 90%;
            border-radius: 15px;
            margin: 0px 0px 30px 0px;
        }
    }

    .portfolioSection__popup{
        // height: 110vh;
        overflow-x: auto;

        img{
            width: 100%;
            height: 100%;
            
            object-fit: cover;
        }
    }

}

@media (max-width: 666px){
    .header__button-wrapper{
        width: 100px;
    }

    .header__memu-button{
        width: 80px;
        height: 35px;
    }

    .first-screen__content-wrapper{
        height: 60%;
        flex-direction: column;
    }

    .first-screen__text-wrapper{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .first-screen__title{
        margin: 20px 0px 20px 0px;
    }

    .first-screen__button-wrapper{
        flex-direction: column;
    }

    .portfolioSection{
        padding: 50px 0px 0px 0px;
    }

    .portfolioSection__popup{
        img{
            width: auto;
            height: 100%;    
        }
    }
    
}

// MODIFICATOR
.--opacityZero{
    opacity: 0;
}

.--rightZero{
    right: 0;
}

.--menuOn{
    opacity: .2;
}

.--overflovHidden{
    overflow: hidden;
}

.--popupShow{
    opacity: 1;
    visibility: visible;
}

.--menuButtonHide{
    top: -50px;
}